modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "bot: Auto Scheduler"

[[workflows.workflow]]
name = "bot: Auto Scheduler"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd bot && python3 scheduler.py"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 9999
externalPort = 3001

[[ports]]
localPort = 22963
externalPort = 3002

[[ports]]
localPort = 24595
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
FACEBOOK_PAGE_ID = "1121522187710396"
TELEGRAM_CHANNEL_ID = "-1003671716464"
FACEBOOK_APP_SECRET = "4e76d1a47f8ee1f722e43a973dfe9b1d"
